<h2>Meet the Pod</h2>
<div class="card-container">
    {% for item in site.data.fellows %}
    <div class="card">
        <div class="info">
            <p class="title"> {{ item.name }}</p>
            <p class="location"> {{ item.location }}</p>
        </div>
        <div class="social_container">
            <div class="social_icon">
                <a class="link" href= {{ item.github }}>
                    <img src="./assets/img/social_icons/github-icon.svg" />
                </a>
            </div>
            <div class="social_icon">
                <a class="link" href= {{ item.twitter }}>
                    <img src="./assets/img/social_icons/twitter-icon.svg" />
                </a>
            </div>
            <div class="social_icon">
                <a class="link" href= {{ item.linkedin }}>
                    <img src="./assets/img/social_icons/linkedin-icon.svg" />
                </a>
            </div>
            <div class="social_icon">
                <a class="link" href= {{ item.resume }}>
                    <img src="./assets/img/social_icons/resume-icon.svg" />
                </a>
            </div>
        </div>
    </div>
    </a>
    {% endfor %}
