<h2 id="PodMembers">Meet the Pod</h2>
<div class="card-container">
    {% for item in site.data.fellows %}
        {% if item.page-name %}
            <a href="/fellows/{{ item.page-name }}">
        {% else %}
            <a>
        {% endif %}
    <div class="card">
        <div class="info">
            <p class="title"> {{ item.name }}</p>
            <p class="location"> {{ item.location }}</p>
            <div class="socials">
                <div class="social-icon">
                    <a class="link" href= {{ item.Github }}>
                        <img src="./assets/img/social-icons/github-icon.svg" />
                    </a>
                </div>
                <div class="social-icon">
                    <a class="link" href= {{ item.Twitter }}>
                        <img src="./assets/img/social-icons/twitter-icon.svg" />
                    </a>
                </div>
                <div class="social-icon">
                    <a class="link" href= {{ item.Linkedin }}>
                        <img src="./assets/img/social-icons/linkedin-icon.svg" />
                    </a>
                </div>
                <div class="social-icon">
                    <a class="link" href= {{ item.Resume }}>
                        <img src="./assets/img/social-icons/resume-icon.svg" />
                    </a>
                </div>
            </div>
        </div>
        </div>
</a>
{% endfor %}
</div>

