<footer class="footer">
    <div class="footer__content">
        <div class="footer__content--logo">
            <div class="footer__content--logo-container w-50 sm-w-25 my-4">
                <a href="https://fellowship.mlh.io/programs/prep" target="_blank" rel="noreferrer">
                    <img class="img-fluid" src="/assets/img/mlh-prep.png" alt="MLH Prep Logo for footer">
                </a>
            </div>
        </div>
        <div class="footer__content--links container">
            <div class="row">
                <a class="col" href="#blog-nav">Blog</a>
                <a class="col" href="#PodMembers">About</a>
                <a class="col" href="#Projects">Projects</a>
                <a class="col text-nowrap" href="#profile">Meet Us</a>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        © 2022 Copyright: 22.JUL.PREP.1
    </div>
</footer>