<h2 id="Projects">Projects</h2>
<div class="card-container">
    {% for item in site.data.projects %}
    {% if item.page-name %}
    <a href="/projects/{{ item.page-name }}">
    {% else %}
    <a>
    {% endif %}
      
      
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="./assets/img/{{ item.image }}" alt="Avatar" style=" object-fit: cover;
            height: max(10rem, 30vh);">
          </div>
          <div class="flip-card-back">
            <div class="info">
              <p class="title">{{ item.title }}</p>
              
              <p class="location">{{ item.event }}</p>
              
              <p class="dates">{{ item.date }}</p>
              <br>
              <p class="des">{{ item.des }}</p>
             
              <button class="btn">
                
                View Project
                </button>
              
              

              
            </div>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  
