@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import 'navbar';
@import 'profile';
@import 'page';
@import 'footer';
@import 'map';

@import 'darkmode';



.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: "Open Sans", sans-serif;
    .mobile-hidden {
      display: none;
    }
  }
  
  .adaptive-text {
    color: #121212;
  }
  
  .adaptive-text-reverse {
    color: #f5f5f9;
  }
  
  .adaptive-background {
    background-color: #f5f5f9;
  }
  
  .adaptive-background-reverse {
    background-color: #121212;
  }
  
  .adaptive-theme-color {
    background-color: #2C74D8;
  }
  
  .adaptive-shadow {
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.2));
  }
  
  .adaptive-background-transparent {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .transition-effect {
    transition: all 0.3s ease-in-out;
  }
  
  .hidden {
    opacity: 0;
}

@media only screen and (max-width: 1500px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
  
}

@media only screen and (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media only screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
  
}


body {
    background-color: #f5f5f9;
    margin-bottom: 50px;
}
h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 30px;
    background-color: white;
    border-radius: .375rem;
    padding: 1.5em;
    font-size: 1.2em;
}

.flip-card {
  display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 30px;
    background-color: white;
    border-radius: .375rem;
    padding: 1.5em;
    font-size: 1.2em;
  
}




.flip-card-inner {
  position: relative;
  width: 300px;
  height: 200px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  
  
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}


.flip-card-front {
  background-color: #bbb;
  color: black;
  
  
}



.flip-card-back {
  background-color: #2C74D8;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transform: rotateY(180deg);

}




a {
    color: black;
}

.info {
    p {
        margin-top: 5px;
        margin: 0px;
        text-align: left;
    }

    .title {
        font-size: 600;
        font-weight: bold;
        text-align: center;
    }

    .location, .description {
        font-size: small;
        font-weight: 400;
        text-align: center;
    }

    .dates {
        font-size: small;
        color: #fcfafa;
        text-align: center;
    }
    .des {
      font-size: x-small;
      color: #fcfafa;
      text-align: center;
  }
  .btn {
    background-color: #62c2ef;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
  }
  
  .btn:hover {opacity: 1}
}


.icon {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    padding: 10px;

    img {
        width: 100%;
    }
}

.socials {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .social-icon {
    line-height: 50px;
    height: 50px;
    margin: 5px;
    text-align: center;
   
    
  }
}

