.footer {

    margin-top: 4em;

    &__content {
        background-color: #224077;
        width: 100%;
        display: flex;

        @media (max-width: 576px) {
            flex-direction: column-reverse;
        }

        &--links {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            padding-top: 2rem;
            padding-bottom: 2rem;

            @media (max-width: 576px) {
                flex-direction: column;
            }

            a {
                color: white;
            }
        }

        &--logo {
            width: 100%;
            display: grid;
            place-items: center;
        }

    }

    &__copyright {
        padding: 1.5rem;
        background-color: #1c3564;
        color: white;
        text-align: center;
        height: auto;
    }

}
