#map { 
    height: 380px; 
    width: 95%;
    margin: 0 auto;
}

.marker-icon {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: 0 0 0 1px #fff;
}

.leaflet-container a {
    color: black !important;
}

:root {
    --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

[theme="dark"] {
    .map-tiles {
        filter:var(--map-tiles-filter, none);
	}
}