.nav-bar {
    height: 72.5px;
    width: 100%;
    background-color: #133667;
    font-family: "Poppins", serif;
    font-weight: 700 !important;
    padding-top: 10px;
    z-index: 3000;
    position: -webkit-sticky;
    position: sticky;
    top:0;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
    display: inline;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 125px;
    margin: 7px 20px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0 18px;
    overflow: hidden;
    float: right;
  }
  .nav-list li {
    float: left;
    margin: 0 5px;
  }
  
.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;

}
.nav-list li a {
    display: inline-block;
    padding: 15px;
    color: #fff;
    
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  .nav-list li a:hover {
    background-color: rgb(45, 65, 120);
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    text-shadow:0px 0px 30px #fff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    
  }
  
  .nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
  }
  
  .icon {
    display: none;
    color: white;
  }

   @media screen and (max-width: 700px) {
    .nav-list {display: none;}
  }

  @media screen and (max-width: 700px) {
    .nav-list.responsive {position: relative;}
    .nav-list.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav-list.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  } 

// toggle btn
.buttons {
  display: flex;
  align-items: center;
}

.control-label {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

.switch.switch-lg {
  padding-bottom: 0.5rem;
  padding-left: 2.25rem;

  & .control-label {
      padding-left: 0.75rem;
      padding-top: 0.15rem;

      &::before {
          border-radius: 1rem;
          height: 1.5rem;
          width: 2.5rem;
      }

      &::after {
      border-radius: 0.65rem;
      height: calc(1.5rem - 4px);
      width: calc(1.5rem - 4px);
      }
  }

  .control-input:checked ~ .control-label::after {
      transform: translateX(1rem);
  }
} 
