.profile {
    // background-color: #133667 !important;
    background-image: url('/assets/img/header_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    min-height: 60vh;
    margin-bottom: 00px;

    h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
    }

    img {
        // border: 1px solid black;
        object-fit: cover;
        border-radius: 50%;
        width: 13rem;
        height: 13rem;
        padding: 1rem;
        margin: 1rem;
    }

    .profile-picture {
        margin-bottom: 30px;
        // height: 200px;
    }
}